[Desktop Entry]
Encoding=UTF-8
Name=Commands
GenericName[zh_CN]=Commands
Exec=/bin/bash -i -c "$HOME/tools/commands/desktop.sh"
Terminal=false
Icon=/usr/local/commands/commands.png
Type=Application
Categories=Development;