[Desktop Entry]
Encoding=UTF-8
Name=Commands
GenericName[zh_CN]=Commands
Exec=/usr/local/commands/commands
Terminal=false
Icon=/usr/local/commands/commands.png
Type=Application
Categories=Development